/*universal selector*/
*{
  margin:0;
}
/*element selector*/
div{
  color:blue;
}
/*class selector*/
.class{
  background-color: green;
}
/*attribute selector*/
input[ type="text"]{
  height:20px;
  width:30px;
}
/*grouping*/
h1,p{
  color:yellow;
}
/*desendent selector*/
.parent div{
  background-color: orange;
}
/*child selector*/
.child-selector>{
  font-size: large;margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
}
/*general sibling*/
.child-selector.hi{
  margin-top: 30px;
  border:1px solid black;
}

